<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoteInformed">

        <!-- Launcher Activity: entry point of the app -->
        <activity
            android:name=".ui.previously_made.HomescreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VoteInformed.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity
            android:name=".ui.previously_made.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />

        <!-- Main/Home Activities (after login) -->
        <activity
            android:name=".ui.previously_made.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.PersonalInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.previously_made.PoliticianProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />

        <!-- Additional Features -->
        <activity
            android:name=".ui.concerns.ConcernsActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.SavedActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />
        <activity
            android:name=".ui.previously_made.PoliticianComparisonActivity"
            android:exported="false"
            android:theme="@style/Theme.VoteInformed.NoActionBar" />


        <!-- Note: Removed duplicate ProfileActivity declaration -->

    </application>

</manifest>
